.img-wrap{
    height: 30vh;
    width: 100vw;
    padding: 5%;
    border: 1px solid red;
}
.img-wrap img{
    width: 50%;
    height: 100%;
}
.title{
    text-align: center; 
    margin: 3% 0;
}
.com_cont{
    background-color: white;
    color: green;
}